.search-container {
    display: flex;
    align-items: center;
    background-color: #f4f6f9;
    border-radius: 50px;
    padding: 8px 16px;
    width: 100%;
    max-width: 700px;
  }

  .search-input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding-left: 35px;
  }

  .search-icon {
    position: absolute;
    font-size: 1.25rem;
    color: #ced4da;
  }

  .load-button {
    background-color: #8660C7;
    color: white;
    border-radius: 50px;
    padding: 0.5rem 4rem;
    margin-left: 10px;
    border: none;
    text-align: center;
  }

  .search-section {
    display: flex;
    align-items: center;
  }

  .load-button:hover {
    background-color: #764DBF;
  }
  .custom-info-section{
    background-color: #62087a;
    width: 100%;   
  }
  th, td{
    border: none;

  }
  .form-check-input {
    width: 25px;
    height: 25px; 
  }
  .send-button{
    background-color: #62087a;
    color: #ced4da;
  }
  .send-button:hover{
    background-color:#764DBF;
  }
  .form-select{
    border-color: #28a745;
    border-width: 3px;
    border-radius: 1.5rem;
    max-width: 300px;

  }
  .input-group-text {
    background-color: white;
    border: none;
  }
  .form-control {
    border-color: #28a745;
    border-width: 3px;
    border-radius: 1.5rem;
    max-width: 300px;
  }
  .add-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
  }
  .save-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 1.5rem;
    width: 150px;
  }
  .form-note {
    color: red;
    font-size: 0.9rem;
  }
  .form-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .upload-section{
    padding: 20px; 
    border-radius: 5px;
    background-color:#d8e8f7; 
  }
  .upload-box{
    border: 2px dashed #28a745;
  }
  .container{
    padding: 0;
    margin: 0;
    width: 100%;

  }

 .background-wrapper {
    background-color: #d8e8f7; 
    padding: 30px;
    border-radius: 8px;
    width: 96vw;
    box-sizing: border-box; 
  }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; 
    background-color: transparent;
    font-size: 1.2rem; 
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .grid-header {
    background-color: #008080; 
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border: none;
    width: 100%;
  }
   .grid-item {
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center;
    border: none;
    border-radius: 5px;
  }
 .icon-upload,
 .icon-download {
   color: black;
   font-size: 25px;
 }
  .grid-item span {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; 
  }

  .span-3 {
    grid-row: span 3; 
  }

  .span-6 {
    grid-row: span 6; 
  }

  .content-box {
    background-color: #e6eeff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: 50px ;
    height: 500px;
  }

.btn-custom {
    background-color: #1a73e8;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #0059c1;
}